<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/cherry-blossom.png')}}">
    <title>Joles PisoNET | Admin Dashboard</title>
    
</head>
<body>
    <div class="navbar">
        <a href="/admin_dashboard">Home</a>
        <a href="/rates">Rates</a>
        <a href="/system_logs">System Logs</a>
        <a href="/sales_inventory">Sales Inventory</a>
        <a href="/accounts">Accounts</a>
        <a href="/online_clients">Online Clients</a>
        <a href="/admin_logout">Log Out</a>
    </div>
</body>
</html>
